<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
      Splurty was built by <a target="_blank" href="http://https://github.com/hrsncarter">Harrison</a>. A new web developer, buildig his first web application.
    </p>
    <br />
    <p>
      Harrison is a new web developer with little to no experience in coding or web development before building this app.
    </p>
    <p>
      If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
    </p>

   <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me copy.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Harrison Carter</h2>
      <br />
      <p>
       Harrison Carter
      </p>
    </div>
  </div>
  <br class="clear" />
  </div>

</div>


<br class="clear" />
<br />
<br />
<br />
<br />